.filter {
    margin: 10px 0;
 /* Alinha o texto e o seletor verticalmente */
}

.filter label {
    margin-right: 10px;
    font-weight: bold;
}

.filter select {
    padding: 5px;
    font-size: 1em;
}

.container {
    padding: 0 20px;
}

.containerCards {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 12px; 
   
    flex: 1; 
}

.cards {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 450px;
    max-height: auto; /* Ajuste a altura máxima do card */
    overflow: auto; /* Rolagem para todo o card */
    position: relative;
}

.cards:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15);
}

.CardActions {
    display: flex;
    align-items: center; 
}

.CardActions button {
    background: none; 
    border: none; 
    margin-left: 10px; 
    cursor: pointer; 
}

.CardHeader {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.CardTitle {
    color: black;
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
    text-align: left; 
    flex: 1;
}

.Edit {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.Logo {
    width: 20px;
    height: 20px;
}

.bodyCard {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}

.top-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 70px;
    margin-bottom: 10px;
}

.export-btn {
    padding: 10px 15px;
    background-color: #FF4D4D;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
}

.export-btn:hover {
    background-color: #FF1A1A;
}

.bodyCard label {
    color: black;
    font-weight: bold;
    margin-bottom: 4px;
}

.bodyCard label span {
    color: black;
    font-weight: normal;
}

.show-more {
    background: none;
    border: none;
    color: #34af34;
    cursor: pointer;
    margin-top: auto; 
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #23c923;
    background-color: white;
    cursor: pointer;
}

.pagination button.active {
    background-color: #1fb438;
    color: white;
}

@media (max-width: 1200px) {
    .containerCards {
        grid-template-columns: repeat(3, 1fr);
    }
    .cards {
        width: 300px;
        height: auto;
    }
}

@media (max-width: 900px) {
    .containerCards {
        grid-template-columns: repeat(2, 1fr);
    }
    .cards {
        width: 270px;
        height: auto;
    }
}

@media (max-width: 600px) {
    .containerCards {
        grid-template-columns: 1fr;
        margin-top: 80px; /* Mantendo a mesma distância nas telas menores */
    }
}

@media (max-width: 400px) {
    .CardTitle {
        font-size: 1em; 
    }

    .bodyCard label {
        font-size: 0.9em; 
    }
}