
.modal-edit-close {
    font-size: 24px; 
    cursor: pointer;
    color: #000000;
}
h2{
    color: #000000;
    align-items: center;
}
.modal-edit {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-edit-content {
    margin-top: 25px;
    position: relative; 
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 450px;
}

.modal-edit-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.modal-edit-label{
    color: #000000;
}

.modal-edit-close,
.modal-edit-trash {
    font-size: 24px;
    cursor: pointer;
    color: #000000;
}

.modal-edit-trash {
    display: flex;
    align-items: center;
}

.modal-edit-title {
    margin: 0;
}

.modal-edit-close {
    cursor: pointer;
    font-size: 20px;
}

.modal-edit-form {
    margin-top: 60px; 
}

@media (max-width: 600px) {
    .modal-edit-content {
        padding: 15px; 
        margin-top: 70px;
        width: 400px;
    }

    .modal-edit-close {
        font-size: 18px; 
    }

    h2 {
        font-size: 20px; 
    }
}

@media (max-width: 400px) {
    .modal-edit-content {
        padding: 10px; 
        margin-top: 70px;
        width: 320px;
    }

    .modal-edit-close {
        font-size: 16px; 
    }

    h2 {
        font-size: 18px;
    }
}