.modalOverlayConfirm {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}
  
.modalContentConfirm {
    background: #28cc19; /* Verde mais suave */
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    position: relative;
    max-width: 90%;
    width: 300px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
  
.modalHeaderConfirm {
    display: flex; /* Usar flexbox para alinhar os itens na mesma linha */
    align-items: center; /* Alinhar verticalmente */
    justify-content: space-between; /* Espaçar os elementos */
}
  
.closeButtonConfirm {
    position: relative;
    border: none;
    background: #27d630; /* Vermelho para destacar */
    color: white;
    font-size: 18px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s;
}
  
.closeButtonConfirm:hover {
    background: #21dd59; /* Muda a cor ao passar o mouse */
}
  
.messageConfirm {
    color: #fff;
    margin-left: 10px;
    font-size: 18px;
    font-weight: bold;
}
  
@media (max-width: 600px) {
    .modalContentConfirm {
      width: 80%;
      padding: 15px;
    }
}
